# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/.env
.env
.venv
env/
venv/
ENV/

# Node.js
node_modules/
frontend/.next/
frontend/out/
frontend/build/
.DS_Store

# Docker
.docker_volumes/

# Misc
.pytest_cache/
.ipynb_checkpoints/
*.db
*.sqlite3
