services:

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
      - ollama
      - redis
    volumes:
      - ./backend:/app/backend
    environment:
      DATABASE_URL: postgresql://postgres:2108@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --workers 4

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_PASSWORD: 2108

  redis:
    image: redis:alpine

volumes:
  ollama:
