fastapi
uvicorn
sqlalchemy
psycopg2-binary
langchain
langchain-community
langchain-ollama
langgraph
alembic
langchain-postgres
psycopg
pypdf
python-multipart
passlib[bcrypt]
python-jose[cryptography]
prometheus-client
slowapi
pytest
requests
numpy
celery
redis
google-auth
